<body>
    <br><br>
    <div class = "title">{{selectedGame?.nome}}</div>
    <br><br>

    <div class="card">
        <img class="img" src="{{selectedGame?.img}}" alt="{{selectedGame?.nome}}">

        <div class="text">
          <strong>Genere:  </strong> {{selectedGame?.genere}}
          <br>
          <strong>Rating:  </strong> {{selectedGame?.rating}}
          <br>
          <strong>Prezzo:  </strong> {{selectedGame?.prezzo}}
          <br>
          <strong>Release: </strong> {{selectedGame?.annoUscita?.getFullYear()}}
          <br>
          <strong>Descrizione:</strong>
          <br>
          {{selectedGame?.descrizione}}
        </div>
    </div>
</body>
