<body>
    <br><br>
    <div class = "title">{{game.nome}}</div>
    <br><br>

    <div class="card">
        <img class="img" src="{{game.img}}" alt="{{game.nome}}">

        <div class="text">
          <strong>Genere:  </strong> {{game.genere}}
          <br>
          <strong>Rating:  </strong> {{game.rating}}
          <br>
          <strong>Prezzo:  </strong> {{game.prezzo}}
          <br>
          <strong>Release: </strong> {{game.annoUscita.getFullYear()}}
          <br>
          <strong>Descrizione:</strong>
          <br>
          {{game.descrizione}}
        </div>
    </div>
</body>
