
<body style="height:max-content;">
    <br><br><br><br><br><br>
    <main class="page-content">

        <div  *ngFor="let game of games" value="game" >

            <div class="card" style="background-image: url('{{game.img}}'); background-size: cover;">
                <div class="content">
                  <h2 class="title">{{game.nome | uppercase}}</h2>
                  <p class="copy">Più dettagli in basso...</p>
                  <button  (click)="showDetail(game.id)" class="btn">Dettagli</button>
                  <button  (click)="editMode(game.id)" class="btn">Modifica</button>
                </div>
              </div>

        </div>
    </main>
</body>
