body
{
    background-image: url('https://i.imgur.com/ZWjvIHN.png');
    background-repeat: repeat;
}

.card
{
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.718);
}

.img
{
    height: 400px;
    width: 400px;
}
.text
{

}

.title
{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.718);
}
