body
{
    background-image: url('https://i.imgur.com/ZWjvIHN.png');
    background-repeat: repeat;
	font-family: "Montserrat", sans-serif;
}

.card {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: max-content;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-image {
	position: relative;
    width: 500px;
    display: flex;
    flex: 0 0 500px;
    flex-direction: row;

    background-position: center center;
    background-size: cover;

	border-radius: 5%;
}

.card-info {
	text-align: left;
	font-size: 1rem;
	max-width: 400px;
	padding: 2%;
}

.title
{
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
	
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
    padding: 10px;
}