<body>
    <br><br>
    <div class = "title">{{selectedGame?.nome | uppercase}}</div>
    <br><br>

    <div class="card">
      <div class="card-image" style="background-image: url('{{selectedGame?.img}}')"></div>
    
      <div class="card-info">
        <strong>Genere:  </strong> {{selectedGame?.genere}}
        <br>
        <strong>Rating:  </strong> {{selectedGame?.rating}}
        <br>
        <strong>Prezzo:  </strong> {{selectedGame?.prezzo}}
        <br>
        <strong>Release: </strong> {{selectedGame?.annoUscita?.getFullYear()}}
        <br>
        <strong>Descrizione:</strong>
        <br>
        {{selectedGame?.descrizione}}
        </div>
    </div>
</body>
