
<body>
    <br><br><br><br><br><br>
<div class="listedItems" >
    <ul *ngFor="let game of games" >
        <li class="booking-card" style="background-image: url('{{game.img}}')">
            <div class="book-container">
                <div class="content">
                </div>
            </div>
            <div class="informations-container">
                <h2 class="title">{{game.nome | uppercase}}</h2>
                <p class="sub-title">Cliccare per piu info...</p>
                <p class="price"><svg class="icon" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                </svg>{{game.prezzo}}</p>
                <div class="more-information">
                    <br>
                    <div class="info-and-date-container">
                        <div class="box info">
                            <button  (click)="showDetail(game)" class="btn">Dettagli</button>
                        </div>
                        <div class="box date">
                            <button  (click)="editGame(game)" class="btn">Modifica</button>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
